#rooms {
  column-count: 4;
  column-gap: 1rem;
}

.roomCard {
  display: grid;
  margin-bottom: 1rem;
  break-inside: avoid;
}

.room {
  padding: 2rem;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#startButton {
  background-color: #20bd5f;
}

#startButton:hover {
  background-color: #22c965;
}

#startButton:active {
  background-color: #20b65c;
}

#leaveButton {
  font-weight: 600;
  background-color: #ebe9e9;
  color: #e74c3c;
  display: flex;
  align-items: center;
}

#leaveButton:hover {
  background-color: #f1f0f0;
}

#leaveButton:active {
  background-color: #e6e4e4;
}

#leaveButton img {
  margin-right: 0.5rem;
}
