body {
  background-color: #f3efe4;
  padding: 0 3rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

p {
  font-weight: 600;
  line-height: 2;
}

button {
  font-size: 1rem;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
  background-color: #5677ad;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: #5e81bb;
}

button:active {
  background-color: #5270a3;
  transform: translateY(1px);
}

button:disabled {
  background-color: #cdcbc4;
  cursor: default;
}

label {
  cursor: pointer;
}

button img {
  display: inline-block;
  margin-left: 0.5rem;
}

input {
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 0.8rem;
}

input:focus {
  outline: none;
}

.container {
  min-width: 20rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  background-color: #fff;
  border: solid 1px #e3e3e3;
  border-radius: 1rem;
}

#step-block .container > div,
#step-block .container > h3,
#step-block .container > p,
#step-block .container > input,
#step-block .container > label {
  margin-bottom: 2rem;
}

#step-block {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

#step-block p {
  white-space: nowrap;
}

#step-block span,
#step-block label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #5477ab;
}
