#welcomeBlock {
  display: inline-flex;
  align-items: center;
}

#welcomeBlock h3 {
  margin-left: 1rem;
}

#welcomeBlock img {
  animation: wave 0.5s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes wave {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
    transform-origin: 70% 70%;
  }
  25% {
    transform: rotate(-12deg);
    transform-origin: 70% 70%;
  }
  75% {
    transform: rotate(12deg);
    transform-origin: 70% 70%;
  }
}

#loginButton {
  margin-bottom: 1rem;
}
