#block {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

#block p {
  white-space: nowrap;
  font-weight: 600;
  line-height: 2;
}

#block span {
  font-size: 0.9rem;
  display: block;
  font-weight: 600;
  color: #5477ab;
}

#welcomeBlock {
  display: inline-flex;
  align-items: center;
}

#welcomeBlock span {
  animation: wave 0.5s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes wave {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
    transform-origin: 70% 70%;
  }
  25% {
    transform: rotate(-12deg);
    transform-origin: 70% 70%;
  }
  75% {
    transform: rotate(12deg);
    transform-origin: 70% 70%;
  }
}

#welcomeBlock h1 {
  margin-left: 1rem;
}

#welcomeBlock,
#block p {
  margin-bottom: 2rem;
}

#loginButton {
  margin-bottom: 1rem;
}
